<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DnD Web Buddy</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.orange-cyan.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <link rel="stylesheet" href="/hosted/style.css">
</head>
<body>
    <div id="app">
        <div class="demo-layout-transparent mdl-layout mdl-js-layout">
            <header class="mdl-layout__header mdl-layout__header--transparent">
              <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">{{title}}</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation >
                <nav class="mdl-navigation">
                  <a class="mdl-navigation__link" href="">Link</a>
                  <a class="mdl-navigation__link" href="">Link</a>
                  <a class="mdl-navigation__link" href="">Link</a>
                  <a class="mdl-navigation__link" href="">Link</a>
                </nav-->
              </div>
            </header>
            <div class="mdl-layout__drawer">
              <span class="mdl-layout-title">{{title}}</span>
              <nav class="mdl-navigation">
                <a v-for="link in links" class="mdl-navigation__link" v-bind:href="link.href">{{link.label}}</a>
              </nav>
            </div>
            <main class="mdl-layout__content">
                <div class="mdl-grid">
                    <div class="mdl-cell--12-col">
                        <h1 class="center-text">DnD - Card Builder</h1>
                    </div>
                    <div class="mdl-cell--12-col mdl-grid">
                        <div class="mdl-layout-spacer"></div>
                        <div class="mdl-cell--2-col black-border">
                            <table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp full-width">
                                <thead>
                                  <tr>
                                    <th class="mdl-data-table__cell--non-numeric">Card List</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr v-for="c in allCards">
                                    <td class="mdl-data-table__cell--non-numeric" v-on:click="loadCardByClick(c.name)">{{c.name}}</td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="mdl-layout-spacer"></div>
                        <div class="mdl-cell--3-col black-border mdl-grid">
                            <div class="mdl-layout-spacer"></div>
                            <div class="mdl-cell--8-col">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" id="cardName" v-model="currentCard.name" v-on:change="updateCard">
                                    <label class="mdl-textfield__label" for="cardName">Name</label>
                                </div>
    
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" id="cardType" v-model="currentCard.type" v-on:change="updateCard">
                                    <label class="mdl-textfield__label" for="cardType">Type</label>
                                </div>
    
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" id="cardTopText" v-model="currentCard.topText" v-on:change="updateCard">
                                    <label class="mdl-textfield__label" for="cardTopText">Top Text</label>
                                </div>
    
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" id="cardBottomText" v-model="currentCard.bottomText" v-on:change="updateCard">
                                    <label class="mdl-textfield__label" for="cardBottomText">Bottom Text</label>
                                </div>
    
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" id="cardUser" v-model="user">
                                    <label class="mdl-textfield__label" for="cardUser">User</label>
                                </div>
                            </div>
                            <div class="mdl-layout-spacer"></div>
                            <div class="mdl-cell--12-col mdl-grid">
                                <div class="mdl-layout-spacer"></div>
                                <div class="mdl-cell--4-col center-text">
                                    <button id="downBtn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent small-margin" v-on:click="downloadCard">
                                        <i class="material-icons mdl-list__item-icon">get_app</i>
                                    </button>
                                    <div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="downBtn">
                                        Download <strong>{{currentCard.name}}</strong>
                                    </div>
                                </div>
                                <div class="mdl-layout-spacer"></div>
                                <div class="mdl-cell--4-col center-text">
                                    <button id="saveBtn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored small-margin" v-on:click="saveCardtoDB">
                                        <i class="material-icons mdl-list__item-icon">backup</i>
                                    </button>
                                    <div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="saveBtn">
                                        Upload <strong>{{currentCard.name}}</strong>
                                    </div>
                                </div>
                                <div class="mdl-layout-spacer"></div>
                                <div class="mdl-cell--4-col center-text">
                                    <button id="deleteBtn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button small-margin color-red" v-on:click="deleteCard">
                                        <i class="material-icons mdl-list__item-icon">delete</i>
                                    </button>
                                    <div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="deleteBtn">
                                        Delete <strong>{{currentCard.name}}</strong>
                                    </div>
                                </div>
                                <div class="mdl-layout-spacer"></div>
                            </div>
                        </div>
                        <div class="mdl-layout-spacer"></div>
                        <div class="mdl-cell--5-col black-border center-text">
                            <canvas id="cardCanvas" height='100' width='100'></canvas>
                        </div>
                        <div class="mdl-layout-spacer"></div>
                    </div>
                </div>

            </main>
    </div>
</body>
<script src="/hosted/socket.js"></script>
<script src="/hosted/bundle.js"></script>
</html>