<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DnD Web Buddy</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!--link rel="stylesheet" href="/hosted/styles/bootstrap-dark.css"-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script src="https://kit.fontawesome.com/cb7f0b3eae.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/hosted/style.css">
</head>
<body class="bg-secondary">
    <div id='app'>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">{{title}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active" v-for="l in links">
                    <a class="nav-link" v-bind:href="l.href">{{l.label}}</a>
                </li>
                </ul>
            </div>
        </nav>
        <div class="m-2">
            <div class="center-text">
                <h2>Deck Builder</h2>
            </div>
            <div class="container text-light">
                <div class="col">
                    <div class="container row bg-dark rounded-lg px-0">
                        <div class="overflow-auto col-sm px-0" v-bind:class="{'d-none': optionsOpen }">
                            <ul class="list-group list-group-horizontal text-dark">
                                <li class="list-group-item" v-for="c in deck" v-on:click="removeFromDeck(c)">{{c}}</li>
                            </ul>
                        </div>
                        
                        <div class="overflow-auto col-sm px-0 container row" v-bind:class="{'d-none': !optionsOpen }">
                            <!--Decks-->
                            <div class="col-sm">
                                Decks
                                <ul class="list-group list-group-horizontal text-dark">
                                    <li class="list-group-item" v-for="d in allDecks" v-on:click="">{{d.name}}</li>
                                </ul>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group row">
                                    <label for="deckName" class="col-sm-2 col-form-label">Name:</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="deckName" v-model="deckName">
                                    </div>
                                </div>
                                <button type="button" class="col-sm-1 btn btn-primary btn-lg btn-block float-right" v-on:click="toggleOptions">
                                    <i class="fas fa-download"></i>
                                </button>
                            </div>
                        </div>
                        <!--div v-for="c in deck" class="col-sm">
                            <canvas class="my-2 deck-display">{{c}}</canvas>
                        </div-->
                        <button type="button" class="col-sm-1 btn btn-primary btn-lg btn-block float-right" v-on:click="toggleOptions">
                            <i class="fas fa-cog"></i>
                        </button>
                    </div>
                    <div class="container row bg-dark rounded-lg mt-2 p-0">
                        <button type="button" class="col-sm-1 btn btn-outline-primary btn-lg btn-block" v-bind:class="{disabled: currRange.start === 0}" :disabled="currRange.start === 0" v-on:click="moveDisplay(currRange.start - 8)"><</button>
                        <div class="col-sm d-flex flex-wrap">
                            <canvas class="col-sm-3 my-2 card-display" v-for="c in cardDisplay" v-on:click="addToDeck(c)">{{c.name}}</canvas>
                            <!--div v-for="c in allCards" class="deck-canvas small-margin center-text">
                                <canvas height="100" width="100" v-on:click="addToDeck(c)">{{c.name}}</canvas>
                            </div-->
                        </div>
                        <button type="button" class="col-sm-1 btn btn-outline-primary btn-lg btn-block" v-bind:class="{disabled: (currRange.start + currRange.length) >= allCards.length}" :disabled="(currRange.start + currRange.length) >= allCards.length" v-on:click="moveDisplay(currRange.start + 8)">></button>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/hosted/FileSaver.js"></script>
<script src="/hosted/jszip.js"></script>
<!--script src='/hosted/deck.js'></script>
<script src="/hosted/socket.js"></script-->
<script src="/hosted/deckBundle.js"></script>
</html>