body {
    background: grey;
}

.center-text {
    text-align: center;
}

.display-flex {
    display: flex;
}

.full-width {
    width: 100%;
}

.small-margin {
    margin: 5px;
}

.black-border {
    border: 2px solid black;
}

.color-red {
    background-color: rgb(255, 51, 51);
}

.color-red:hover {
    background-color: rgb(255, 51, 51);
}