body {
    background: grey;
}

.center-text {
    text-align: center;
}

.display-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.full-width {
    width: 100%;
}

.small-margin {
    margin: 5px;
}

.black-border {
    border: 2px solid black;
}

.color-red {
    background-color: rgb(255, 51, 51);
}

.color-red:hover {
    background-color: rgb(255, 51, 51);
}

.deck-canvas {
    width: 25%;
}

.float-right {
    float: right;
}

.translate-vert-half {
    transform: translateY(15%);
}

.hide {
    display: none;
}

.top-line {
    border-top: 1px solid black;
}